:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#avatar {
  height: 150px;
  padding: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

.icons {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.icons>* {
  padding: 4px;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.item>.pic {
  border: 2px solid rgba(255, 255, 255, 0.87);
  padding: 5px;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  transform: translateY(25px) scale(2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  transition: opacity 1s linear;
}

.title {
  font-size: 24px;
}

.bot-row,
.top-row {
  display: flex;
  justify-content: center;
}

.top-row {
  gap: 48px;
}

.bot-row {
  gap: 64px;
}

.top-row>*,
.bot-row>* {
  width: 150px;
  text-wrap: nowrap;
}

.character {
  align-items: flex-start;
}

.name,
.classes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.name>input {
  width: 120px;
}

.sheet-wrapper {
  opacity: 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.sheet {
  display: grid;
  border: 5px solid rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  background-color: #242424;
}

.s-character {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.s-attributes {}

.s-name {
  font-size: 24px;
}

.s-inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.s-item {
  font-size: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.87);
  padding: 5px;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  transform: translateY(10px) scale(2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.health {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: red;
  gap: 4px;
  padding-bottom: 4px;
}